.card ul {
  list-style: none;
  padding: 0;
}

.line {
  border-bottom: #99e2d0 1px solid;
  transform-origin: left;
  animation: 10s infinite alternate line;
}

@keyframes line {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
    opacity: 0.9;
  }
}

@media only screen and (max-width: 576px) {
  .card h3,
  .line {
    margin-left: 0.8rem;
  }

  .line {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card h3,
  .line {
    margin-left: 0.8rem;
  }

  .line {
    margin-bottom: 0.5rem;
  }
}
