.button {
  cursor: pointer;
  background-color: #1e6f5c;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  font: inherit;
  font-weight: bold;
  border-radius: 25px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:hover,
.button:active {
  background-color: #155041;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  /* font-weight: bold; */
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
