.input {
  /* border: blue 1px solid; */
  display: flex;
  align-items: center;
  justify-content: right;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 1rem;
}
